:root {
  --dark-color: #303242;
  --middle-color: #ba6c65;
  --light-color: #f7d2af;
  --main-font: "Pinyon Script", cursive;
}

.Dictionary {
  padding: 25px 0;
  margin: 25px;
  border: 5px solid var(--dark-color);
  border-radius: 15px;
  background-color: var(--middle-color);
  opacity: 0.95;
  text-align: center;
  color: var(--dark-color);
}

.Dictionary h1 {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 65px;
}

.Dictionary .search-button,
.Dictionary .input-field {
  padding: 6px;
  margin: 7px;
  border: 5px solid var(--dark-color);
  border-radius: 7px;
  font-size: 25px;
  font-weight: bold;
}

.Dictionary .search-button {
  color: var(--dark-color);
  background-color: var(--middle-color);
  transition: all 300ms ease-in-out;
}

.Dictionary .search-button:hover {
  color: var(--middle-color);
  background-color: var(--dark-color);
}

@media (max-width: 992px) {
  .Dictionary {
    padding: 0;
    margin: 28px 0;
  }
  .Dictionary h1 {
    font-size: 70px;
    padding: 8px 15px;
  }
}
